<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/404.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="copy-container center-xy">
          <p>
            404, страница не найдена.
          </p>
          <!-- <span class="handle"></span> -->
        </div>
    </div>

    <script src="static/js/404.js"></script>
</body>
</html>
